body {
    overflow-x:hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 38%, rgba(255,193,7,1) 82%) no-repeat;
   


}

h1{
    color: rgb(5, 5, 4);
}



.background-image{
    background-image: url('../../public/immagini/ani.gif');
    height: 22vh;
    
   
   
}

#card-space{
    margin-top: 10rem;

}



footer{
   
    margin-top: auto;
    
}



header {
   
}


header h1 {
    margin: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    margin-top: 25px;
}


article {
    margin-bottom: 40px;
}

article h2 {
    color: #333;
}


.padding-large{

    padding-top: 150px;
    padding-bottom:150px ;
    
    
}

#responsive{
    
    max-width: 100%;
    height: auto;

    
    
    
    
   
}

.giallo{
    color: yellow;
}

.dropdown-item:hover{
    background-color: yellow;
}

.nav-item:hover .nav-link{
   
    color: white!important;
    
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-content p {
    margin-bottom: 10px; 
   
}

.center-content span {
    margin: 5px; 
    padding: 5px; 
    background-color: #050404; 
    border-radius: 5px; 
    color: yellow;
 
}

#ba{
  background-color: rgb(11, 11, 10)!important;
  width: 100px;
}

#text{
    margin-left: 37%!important;
   
}


    .banner{
        
        padding:2rem;
        text-align: center;
        width: 100%;
       
  
  
}

#responsive{
    margin-bottom: 100%;
}

#testo{
    text-decoration: underline;
    text-decoration-color: rgb(228, 7, 7);
    text-transform: uppercase;
   
    
    

}


#corpo{
    line-height: 30px;
    font-family:sans-serif;
   padding:15px;
   font-size: 19px;
   text-align: justify;
  
   
}

#descr{
    text-transform: uppercase;
    
}

.nav-item::marker{

   
    content: '';
}
